body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #dad7cd;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-banner {
    font-size: calc(1vw + 1vh);
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #344e41;
    border-bottom: 5px solid white;
}

.banner-segment {
    flex: 1 1 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #588157;
    color: white;
    padding: 0 1%;
    font-size: calc(0.8vh + 0.8vw);
    cursor: pointer;
    border-right: 1px solid #FFFFFF;
}

.banner-segment:last-child {
    border-right: none;
}

.banner-segment:hover {
    background-color: #98C1A6;
    color: #344e41;
}

#segment3 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.banner-segment img {
    width: 8vw;
    height: auto;
}

#bannerLogo {
    width: 3vw;
    height: auto;
    border-radius: 50%;
    border: 4px solid white;
}

#segment3:hover #bannerLogo {
    transform: scale(1.1);
    border-color: #98C1A6;
}

.container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    width: 95%;
    margin: 6px auto;
    padding: 10px;
    background-color: #b2bdb1;
    border: 3px solid #344e41;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 20vh;
}

.image {
    flex-basis: 20vh;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 1%;
    border: 3px solid white;
    width: 20vh;
    height: 23vh;
}

.image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.text {
    width: 25vh;
    display: flex;
    height: 21vh;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1%;
    color: white;
    font-size: 1.5vh;
    background-color: #344e41;
    margin: 1%;
    border-radius: 5px;
    overflow: hidden;
}

.title {
    font-size: calc(1.7vw + 1.7vh);
    max-font-size: 28px;
    min-font-size: 12px;
    white-space: nowrap;
    display: block;
    max-width: calc(100% - 50px);
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.artists {
    font-size: 15px;
}

.album {
    font-size: 12px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.icons a, .icons button {
    margin-left: 10px;
}

.display-select {
    width: 80px;
    height: 36px;
    padding: 0 10px;
    border: 2px solid #FFFFFF;
    background-color: #25733f;
    color: #FFFFFF;
    font-size: 1.0vh;
}

.dropdown-container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1050;
}

.dropdown-container input {
    width: 20vh;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1050;
}

.dropdown-list {
    position: absolute;
    color: #1b1f22;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1060;
}

.dropdown-list div {
    padding: 10px;
    cursor: pointer;
    z-index: 1060;
}

.dropdown-list div:hover {
    background-color: #f1f1f1;
    z-index: 2;
}

.search_bar {
    width: 95%;
    margin: 4px auto;
    background-color: #588157;
    border: 3px solid #344e41;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    height: 2vh;
}

.display-select, .search-select, .search-input {
    height: 5vh;
    padding: 0 10px;
    border: 2px solid #FFFFFF;
    background-color: #98C1A6;
    color: #333;
    font-size: 2.8vh;
}

.search-select {
    width: 15%;
    margin-right: 2%;
}

.search-input {
    width: 60%;
}

#searchButton, #homeButton {
    width: 10%;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #FFFFFF;
    background-color: #344e41;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#homeButton {
    background-color: #A3B18A;
}

.button-icon {
    width: 5px;
    height: 5px;
}

.table {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #dad7cd;
    border: 3px solid #344e41;
    overflow-y: auto;
    max-height: 55vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 2px solid white;
    padding: 2px;
    text-align: left;
    overflow: hidden;
    font-size: 2.6vh;
    display: table-cell;
    word-wrap: break-word;
}

th {
    background-color: #588157;
    position: sticky;
    top: 0;
    z-index: 2;
    cursor: pointer;
    color: white;
    white-space: nowrap;
}

.active-header {
    background-color: #344e41;
}

.title-artist {
    display: block;
}

.song-title {
    font-weight: bold;
    font-size: 3.6vh;
}

.song-artist {
    font-weight: normal;
    font-size: 3.0vh;
}

th:nth-child(1), td:nth-child(1) { width: 2%; }
th:nth-child(2), td:nth-child(2) { width: 2.5%; }
th:nth-child(3), td:nth-child(3) { width: 18%; }
th:nth-child(4), td:nth-child(4) { width: 10%; }
th:nth-child(5), td:nth-child(5) { width: 4.0%; }
th:nth-child(6), td:nth-child(6) { width: 4.0%; }
th:nth-child(7), td:nth-child(7) { width: 15%; }

.table tbody tr:hover {
    background-color: #a3b18a;
}

.selected {
    background-color: #344e41;
    color: white;
}

@media (max-width: 600px) {
    .horizontal-banner {
        height: 5vh;
        width: 100%;
    }
    #bannerLogo {
        width: 6vw;
        border: 6px solid white;
    }
    .top {
        width: 88%;
        min-height: 20vh;
    }
    .title {
        font-size: calc(1.7vw + 1.7vh);
        max-width: calc(100% - 30px);
    }
    .icons img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 2px;
    }
    .search_bar {
        width: 90%;
        height: 2vh;
    }
    .table {
        width: 88%;
        max-height: 60vh;
    }
    th, td {
        display: none;
    }
    th, td {
        padding: 4px;
    }
    .song-title {
        font-size: 2.0vh;
    }
    .song-artist {
        font-size: 1.5vh;
    }
    .display-select, .search-select, .search-input {
        height: 27px;
        font-size: 1.5vh;
    }
    .dropdown-container input {
        width: 15vh;
    }
    .dropdown-list div {
        padding: 10px;
        cursor: pointer;
        z-index: 2;
    }
    .dropdown-list div:hover {
        background-color: #f1f1f1;
        z-index: 2;
    }
    th, td { display: none; }
    th:nth-child(1), td:nth-child(1),
    th:nth-child(2), td:nth-child(2),
    th:nth-child(3), td:nth-child(3),
    th:nth-child(6), td:nth-child(6) {
        display: table-cell;
        font-size: 1.5vh;
    }
    td:nth-child(2) {
        white-space: normal;
        word-wrap: break-word;
        line-height: 1.1;
    }
    .song-title {
        font-size: 2vh;
    }
    .song-artist {
        font-size: 1.5vh;
    }
}

@media (max-height: 600px) and (orientation: landscape) {
    .horizontal-banner {
        height: 10vh;
    }
    #bannerLogo {
        width: 5vw;
        border: 6px solid white;
    }
    .banner-segment img {
        width: 4.5vw;
        height: auto;
    }
    .top {
        flex-direction: row;
        height: 25vh;
    }
    .image, .text {
        flex: 1 0 50%;
        height: 100%;
    }
    .image {
        max-width: 23vh;
        height: 23vh;
    }
    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .icons {
        display: flex;
        align-items: center;
    }
    .icons img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 5px;
    }
    .search_bar {
        width: 90%;
        height: 2vh;
    }
    .icons a, .icons button {
        margin-left: 10px;
    }
    .text {
        height: 21vh;
        overflow: auto;
    }
    .title {
        font-size: calc(1.7vw + 1.7vh);
        max-font-size: 28px;
        min-font-size: 12px;
        white-space: nowrap;
        display: block;
        max-width: calc(100% - 50px);
        animation: marquee 10s linear infinite;
    }
    @keyframes marquee {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-100%);
        }
    }
    .artists {
        font-size: 10px;
    }
    .album {
        font-size: 8px;
    }
    .display-select, .search-select, .search-input {
        height: 4vh;
        font-size: 3.5vh;
    }
    .search_bar {
        width: 95%;
        height: 2vh;
    }
    #searchButton, #homeButton {
        height: 6vh;
        font-size: 3vh;
    }
    .song-title {
        font-size: 3.5vh;
    }
    .song-artist {
        font-size: 2.5vh;
    }
}

@media (min-width: 600px) {
    .horizontal-banner {
        height: 8vh;
    }
    #bannerLogo {
        width: 4vw;
        border: 5.5px solid white;
    }
    .banner-segment img {
        width: 4vw;
        height: auto;
    }
    .top {
        flex-direction: row;
        height: 25vh;
    }
    .image, .text {
        flex: 1 0 50%;
        height: 100%;
    }
    .image {
        max-width: 23vh;
        height: 23vh;
    }
    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .text {
        height: 21vh;
        overflow: auto;
    }
    .display-select, .search-select, .search-input {
        height: 4.5vh;
        font-size: 2.0vh;
    }
    .search_bar {
        width: 95%;
        height: 2vh;
    }
    #searchButton, #homeButton {
        height: 6vh;
        font-size: 3vh;
    }
    th, td {
        font-size: 1.5vh;
    }
    .song-title {
        font-size: 2.0vh;
    }
    .song-artist {
        font-size: 1.5vh;
    }
    .title {
        font-size: calc(1.3vw + 1.3vh);
    }
}

@media (min-width: 1024px) {
    .horizontal-banner {
        height: 6vh;
    }
    #bannerLogo {
        width: 4vw;
        border: 6px solid white;
    }
    .banner-segment img {
        width: 3vw;
        height: auto;
    }
    .top {
        flex-direction: row;
        height: 25vh;
    }
    .image, .text {
        flex: 1 0 50%;
        height: 100%;
    }
    .image {
        max-width: 23vh;
        height: 23vh;
    }
    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .text {
        height: 21vh;
        overflow: auto;
    }
    .display-select, .search-select, .search-input {
        height: 4vh;
        font-size: 2.0vh;
    }
    .search_bar {
        width: 95%;
        height: 3vh;
    }
    #searchButton, #homeButton {
        height: 6vh;
        font-size: 3vh;
    }
    th, td {
        font-size: 1.5vh;
    }
    .song-title {
        font-size: 2.0vh;
    }
    .song-artist {
        font-size: 1.5vh;
    }
    .icons img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 5px;
    }
    .title {
        font-size: calc(1.7vw + 1.7vh);
        max-font-size: 28px;
        min-font-size: 12px;
    }
    .artists {
        font-size: 15px;
    }
    .album {
        font-size: 12px;
    }
}
